body{background-color: black;}

#Neura{border: 5px solid white;}

h1{ text-align: center; color: white;  
  font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif; text-transform: uppercase;}
p{text-align:center; color: white;}
#ola{width: 50%; margin-left: 25%;}
h2{text-align: center; color: red;}